@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.page-container {
  background-color: rgb(0, 0, 0);
  height: 100vh;
}

.navbar {
  background-color: rgb(156, 212, 212);
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  height: 50px;
  color: black;
  text-align: center;
  width: 70%;
}

.content {
  background-color: #f8fdfd;
  padding: 20px;
  margin: 300px auto;
  width: 70%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: black;
}

.follow-me {
  background-color: #f8fdfd;
  padding: 20px;
  height: 300px;
  width: 20%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 200px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color : black;
}
button {
  background-color: #9cd4d4;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.logo {
  height: 40px;
  vertical-align: middle;
  margin-right: 10px;
  border-radius: 12px;
} 